<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body>
  <div class="dropdown">
    <button class="dropbtn">About</button>
    <div class="dropdown-content">
      <a href="#">jzsherlock</a>
    </div>
  </div>
  <ul>

    <li>
      <a class="navbar-brand" href="/">
        <div class="logo-image">
          <img src="/static/images/mylogo.png" class="img-fluid">
        </div>
      </a>
    </li>
    <li>
        <a href="#" onclick="setURL('http://localhost:8501/?p=eda')">Generate Dataset</a>
    </li>
    <li>
        <a href="#" onclick="setURL('http://localhost:8501/?p=manage')">Management</a>
    </li>
    <li>
        <a href="#" onclick="setURL('http://localhost:8501/?p=feature')">Feature Engineer</a>
      </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=modeling')">Model Train</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=infer')">Inference</a>
    </li>


  </ul>
  <iframe src="http://localhost:8501/?p=home" id="streamlit_content" allowfullscreen frameborder="0"
    wmode="transparent">
    Your browser doesn't support iframes
  </iframe>

</body>
<script>
  function setURL(url) {
    document.getElementById('streamlit_content').src = url;
    console.log('Works!')
  }
</script>

</html>